
@model List<MvcStok.DAL.TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Listeleme</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Id</th>
            <th>Ürün Adı</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>    </th>
            <th>    </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.URUNID</th>
                <td>@urn.URUNADI</td>
                <td>@urn.MARKA</td>
                <td>@urn.TBLKATEGORILER.KATEGORIAD</td>
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td> <a class="btn btn-danger" href="/Urun/Sil/@urn.URUNID">Sil</a> </td>
                <td>  <a class="btn btn-success" href="/Urun/UrunGetir/@urn.URUNID">Güncelle</a> </td>
            </tr>

        }
    </tbody>
</table>
<a class="btn btn-primary" href="/Urun/UrunEkle" style="margin-top:-10px;">Ürün Ekle</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

@*<script>
    $('#tbl1').dataTable({});
</script>*@